<%= form_with model:[@word,@example_sentence], url: word_example_sentences_path(@word), local: false do |f| %>
  <label>中国語：</label>
   <%= f.text_field :sentences, size: "35x1", autofocus: true, placeholder: "你的中文說得很好" %> <br>
  <label>日本語：</label>
   <%= f.text_field :sentences_jp, size: "35x1",class: "mt-2",placeholder: "あなたは中国語を話すのが上手です" %> <br>
  <%= f.submit "例文追加", class: "btn btn-success mt-2"%> <br>
<% end %>