<div class="container">
  <div class="row" id="sentence-index">
   <%= render "user/example_sentences/index",word: @word, example_sentences: @example_sentences, example_sentences_new: @example_sentences_new %>
  </div>
</div>