@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

html {
  height: 100%;
}

* {
  font-family: 'HanziPen TC',sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FDF6EC;
}

header {
  width: 100%;
  background-color: #92B4EC;
}

footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  background-color: #FFD24C;
}



.design01 {
 width: 100%;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
}
.design01 th {
 padding: 10px;
 background: #e9faf9;
 border: solid 1px #778ca3;
}
.design01 td {
 padding: 10px;
 border: solid 1px #778ca3;
}



.table-demo {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2em;
}

.table-demo th,
.table-demo td {
    padding: 10px;
    border: 1px solid #ddd;
}

.table-demo th {
    background-color: #f5f5f5;
}

h1 {
  position: relative;
  text-align: center;
  border: 3px solid #000;
}

h1:before,
h1:after {
  position: absolute;
  content: '';
}

h1:before {
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background: #f8f8f8;
}

h1 span {
  position: relative;
  display: block;
  padding: 2rem;
  letter-spacing: .05em;
  color: #fff;
  text-shadow: #000 2px 0, #000 -2px 0, #000 0 -2px, #000 0 2px, #000 2px 2px, #000 -2px 2px, #000 2px -2px, #000 -2px -2px, #000 1px 2px, #000 -1px 2px, #000 1px -2px, #000 -1px -2px, #000 2px 1px, #000 -2px 1px, #000 2px -1px, #000 -2px -1px, 4px 4px 0 #000, 0 4px 0 #000;
}

h1 span:before,
h1 span:after {
  position: absolute;
  left: 10px;
  width: calc(100% - 20px);
  height: 2px;
  content: '';
  background: #000;
}

h1 span:before {
  top: 15px;
}

h1 span:after {
  bottom: 15px;
}

.profile-img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.card-container {
    max-width: 400px;
    padding: 28px 16px;
    background-color: #F7F7F7;
    margin: 0 auto 25px;
    margin-top: 20px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
    box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
}

.btn-block {
    display: block;
    width: 100%;
}

.session {
    font-style: italic;
}

ul.cp_list {
	position: relative;
	padding: 0 0.5em;
	margin-top: 1em;
	list-style-type: none;
	border: solid 2px #00796B;
}
ul.cp_list::after {
	position: absolute;
	content:attr(title);
	padding: 1px 7px;
	letter-spacing: 0.05em;
	font-weight: bold;
	font-size: .8em;
	background: #00796B;
	color: #fff;
	bottom: 100%;
	left: -2px;
	border-radius: 4px 4px 0px 0px;
}
ul.cp_list li {
	line-height: 1.5;
	padding: 0.5em 0 0.5em 1.4em;
	border-bottom: 1px dashed #4DB6AC;
}
ul.cp_list li::before {
	position: absolute;
	content:'';

}
ul.cp_list {
    position: relative;
    padding: 0 0.5em;
    margin-top: 2em;
    list-style-type: none;
    border: solid 2px #00796B;
    }
    ul.cp_list::after {
    position: absolute;
    content:attr(title);
    padding: 1px 7px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: .8em;
    background: #00796B;
    color: #fff;
    bottom: 100%;
    left: -2px;
    border-radius: 4px 4px 0px 0px;
    }
    // ul.cp_list li {
    // line-height: 1.5;
    // padding: 0.5em 0 0.5em 1.4em;
    // border-bottom: 1px dashed #4DB6AC;
    // }
    // // ul.cp_list li::before {
    // // position: absolute;
    // // content: "\002713";
    // // color: #00796B;
    // // font-weight: bold;
    // // left : 0.5em;
    // // }

    // ul.cp_list li:last-of-type {
    // border-bottom: none;
    // content: "\002713";
    // 	color: #00796B;
    // // 	font-weight: bold;
    // 	left : 0.5em;
    // }
    ul.cp_list li:last-of-type {
    	border-bottom: none;
    }

@media screen and (max-width: 425px) {
  #sentence {
    width: 20rem;
  }
   #sentence2 {
    width: 20rem;
  }
}

@media screen and (min-width: 1200px) {
  #sentence {
    width: 45rem;
  }
   #sentence2 {
    width: 40rem;
  }
}